[MASTER]
ignore=rallyetool.settings
jobs=1
load-plugins=pylint_django
django-settings-module=rallyetool.settings.dev_settings

[MESSAGES CONTROL]
disable=missing-function-docstring, # too much work
        missing-module-docstring, # too much work
        missing-class-docstring, # too much work
        too-few-public-methods, # too low signal-to-noise, due to djangos structure
        too-many-ancestors, # too low signal-to-noise, due to djangos structure
        line-too-long, # we have another hook for this
        wrong-import-position, # we have another hook for this
        no-member, # mypy does this job with less false positives
        modelform-uses-exclude, # usage of exclude is sometimes valid.
        bad-continuation, #gives weird unreproducible bugs in ci but not locally
        duplicate-code, # gives weird unreproducible bugs in ci but not locally
        fixme, # prevents users from committing things with a TODO in comments. Having more frequent commits is desirable
