--extra-index-url https://git.fs.tum.de/api/v4/groups/django/-/packages/pypi/simple
django~=4.0
django-active-link~=0.1.8
django-bootstrap5~=21.3
django-compref-keycloak
django-modeltranslation~=0.17.3
djangorestframework~=3.13.1
Pillow~=8.4.0
psycopg2-binary~=2.9.3
pytz
