{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}

<div class="container">
    <h1>{% trans "Wellcome to the Ralleytool" %}</h1>
    {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
    <form
        action="{% url "login" %}"
        method="POST"
        accept-charset="utf-8"
        role="form"
    >{% csrf_token %}
        {% bootstrap_form form layout="floating" %}

        <input
            type="hidden"
            name="next"
            value="{{ next }}"
        />
        <button
            class="btn btn-primary"
            type="submit"
        >Login <span class="bi bi-box-arrow-in-right"></span></button>
    </form>
</div>
{% endblock %}
