{% extends "base_single_card_layout.html" %}
{% load l10n %}
{% load static %}
{% load i18n %}

{% block rallye_common_headercontent %}{% trans "Map showing where the stations are" %}{% endblock %}
{% block rallye_card-body-override %} style="padding: 0;"{% endblock %}
{% block rallye_common_content_card_override %} {% endblock %}

{% block extrahead %}
<script src="{% static "maplibre-gl/dist/maplibre-gl.js" %}"></script>
<link
    href="{% static "maplibre-gl/dist/maplibre-gl.css" %}"
    rel="stylesheet"
/>
{% endblock %}

{% block rallye_common_content %}
<style>
    .map {
        width: 100%;
        height: 60rem;
    }
</style>
<div
    class="map"
    id="map"
></div>
<script>
    /* global maplibregl */
    const map = new maplibregl.Map({
        container: 'map',
        style: 'https://api.maptiler.com/maps/f37dd045-7438-4fff-9bc2-73fce2ba974f/style.json?key=qMbPTihz6isJJ483G8aF',
        antialias: true, // create the gl context with MSAA antialiasing, so custom layers are antialiased
        center: [11.671, 48.265],
        zoom: 15,
        locale: '{{ LANGUAGE_CODE }}',
    });

    const stations = {
        type: 'FeatureCollection',
        features: [
            {% for station in stations %}
            {
                type: 'Feature',
                properties: {
                    description: '<strong>{{station.name}}</strong><p>{{station.location_description}}</p>',
                },
                geometry: {
                    type: 'Point',
                    coordinates: [{{ station.longitude|unlocalize }}, {{ station.latitude|unlocalize }}],
                },
            },
            {% endfor %}
        ],
    };

    const labels = {
        type: 'FeatureCollection',
        features: [
            {
                type: 'Feature',
                properties: {
                    description: 'MI',
                },
                geometry: {
                    type: 'Point',
                    coordinates: [11.66857, 48.26241],
                },
            },
            {
                type: 'Feature',
                properties: {
                    description: 'MW',
                },
                geometry: {
                    type: 'Point',
                    coordinates: [11.66903, 48.2657],
                },
            },
            {
                type: 'Feature',
                properties: {
                    description: '{% trans "Chemistry" %}',
                },
                geometry: {
                    type: 'Point',
                    coordinates: [11.66934, 48.26884],
                },
            },
            {
                type: 'Feature',
                properties: {
                    description: '{% trans "Physics" %}',
                },
                geometry: {
                    type: 'Point',
                    coordinates: [11.67563, 48.26729],
                },
            },
            {
                type: 'Feature',
                properties: {
                    description: '{% trans "Canteen" %}',
                },
                geometry: {
                    type: 'Point',
                    coordinates: [11.67203, 48.26838],
                },
            },
            {
                type: 'Feature',
                properties: {
                    description: 'Galileo',
                },
                geometry: {
                    type: 'Point',
                    coordinates: [11.67229, 48.26537],
                },
            },
        ],
    };

    const ubahn = {
        type: 'FeatureCollection',
        features: [
            {
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: [11.6714, 48.26479],
                },
            },
        ],
    };

    map.on('load', () => {
        map.addSource('labels', {
            type: 'geojson',
            data: labels,
        });
        map.addSource('ubahn', {
            type: 'geojson',
            data: ubahn,
        });
        map.addSource('stations', {
            type: 'geojson',
            data: stations,
        });

        map.loadImage(
            'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/U-Bahn.svg/200px-U-Bahn.svg.png',
            (error, image) => {
                if (error) throw error;
                map.addImage('ubahn', image);
                map.addLayer({
                    id: 'ubahn',
                    type: 'symbol',
                    source: 'ubahn',
                    layout: {
                        'icon-image': 'ubahn',
                        'icon-size': 0.1,
                    },
                });
            },
        );

        map.addLayer({
            id: 'labels',
            type: 'symbol',
            source: 'labels',
            layout: {
                'text-field': ['get', 'description'],
                'text-variable-anchor': ['center'],
                'text-radial-offset': 0.5,
                'text-justify': 'auto',
            },
            paint: {
                'text-color': '#ffffff',
                'text-halo-blur': 1,
                'text-halo-width': 1,
                'text-halo-color': '#000000',
            },
        });

        // Add a layer showing the places.
        map.addLayer({
            id: 'stations',
            type: 'circle',
            source: 'stations',
            paint: {
                'circle-color': '#fb4242',
                'circle-radius': 6,
                'circle-stroke-width': 1,
                'circle-stroke-color': '#ffffff',
            },
        });

        // Create a popup, but don't add it to the map yet.
        const popup = new maplibregl.Popup({
            closeButton: false,
            closeOnClick: false,
        });

        map.on('mouseenter', 'places', (e) => {
            // Change the cursor style as a UI indicator.
            map.getCanvas().style.cursor = 'pointer';

            // Copy coordinates array.
            const coordinates = e.features[0].geometry.coordinates.slice();
            const description = e.features[0].properties.description;

            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }

            // Populate the popup and set its coordinates
            // based on the feature found.
            popup.setLngLat(coordinates).setHTML(description).addTo(map);
        });

        map.on('mouseleave', 'places', () => {
            map.getCanvas().style.cursor = '';
            popup.remove(); /* eslint prefer-destructuring: off */
        });
    });
    </script>
{% endblock %}
