{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}

<div class="container">
    <h1>{% trans "Wellcome to the Rallyetool" %}</h1>

    <p>{% trans "Please choose an Username, that the organisers can recognise you by. The Username will be used on station-distribution." %}</p>

    <form method="POST">
        {% csrf_token %}
        {% bootstrap_field form.last_name layout="floating" %}
        <button
            class="btn btn-primary"
            data-bs-target="#confrimationModal"
            data-bs-toggle="modal"
            type="button"
        >{% trans "Register for the rallyetool" %}</button>
        <div
            class="modal"
            id="confrimationModal"
            tabindex="-1"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans "Confirm rallyetool registration" %}</h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="{% trans "Close" %}"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            {% trans "I confirm that my username does not contain personal identifing information." %}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                        >{% trans "Close" %}</button>
                        <button
                            type="submit"
                            class="btn btn-primary"
                        >{% trans "Confirm rallyetool registration" %}</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
    {% url "login" as login_url %}
    <p class="text-muted mt-3">
        {% blocktrans trimmed %}
        If you already have an account, <a href="{{ login_url }}">login</a> instead.
        {% endblocktrans %}
    </p>
</div>

{% endblock %}
