{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}

<div class="container">
    <h2>{% trans "Group-name registration" %}</h2>

    <p>{% trans "Please choose an <b>unique Name</b>, that the tutors can recognise you by." %}</p>
    <p>{% trans "Rules:" %}</p>
    <ul>
        <li>{% trans "No 'edgy' names..." %}</li>
        <li>{% trans "Your group-name will be used by tutors. They search a search-field." %}</li>
        <li>{% trans "There may, or may not be a prize for the best/most creative name 😉" %}</li>
    </ul>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_field form.name layout="floating" %}
        {% bootstrap_field form.data_protection layout="floating" %}

        <button
            class="mt-3 btn btn-lg btn-primary"
            data-bs-target="#confrimationModal"
            data-bs-toggle="modal"
            type="button"
        >{% trans "Register for the rallye" %}</button>
    </form>
</div>

{% endblock %}
