{% extends "base_single_card_layout.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block rallye_common_headercontent %}Einstellungen bearbeiten{% endblock %}

{% block rallye_common_content %}
<form
    method="post"
    action=""
>{% csrf_token %}

    {% bootstrap_form form %}

    <a
        class="btn btn-secondary"
        href="{% url "main-view" %}"
    >Abbrechen</a>
    <button
        class="btn btn-primary"
        type="submit"
    >Einstellungen bearbeiten</button>
</form>
{% endblock %}
