{% extends "base.html" %}

{% block content %}

<h3>Get to know services @TUM better:</h3>
<form
    method="POST"
    action="{% url "online-services" %}"
>
    {% csrf_token %}
    {{ message }}
    <b>How many services are listed in TUMOnline under "other IT services"?</b> <br>
    <select name="tumonline">
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    </select> <br> <br>
    <b>In moodle are multiple text editors available. Name one starting with "A".</b> <br>
    <select name="moodle">
        <option value="Atto HTML Editor">Atto HTML Editor</option>
        <option value="Amos HTML Editor">Amos HTML Editor</option>
        <option value="Arco HTML Editor">Arco HTML Editor</option>
    </select> <br> <br>
    <b>What is the URL of the JITSI server hosted by the LRZ?</b><br>
    <input
        type="text"
        name="jitsi"
    /> <br><br>
    <b>It's possible to use Element (formerly Riot/Vector) with your TUM. Name the URL you have to sign in with your TUM credentials (TUM Matrix Homeserver)</b><br>
    <input
        type="text"
        name="element"
    /> <br><br>
    <b>How many digits has your university library user number (needed for login)?</b><br>
    <select name="library">
        <option value="11">11</option>
        <option value="13">13</option>
        <option value="15">15</option>
    </select> <br> <br>
    <b>What is the name of the teaching award of the physics student council?</b><br>
    <select name="fachschaft">
        <option value="Golden Circle">Golden Circle</option>
        <option value="Golden Chalk">Golden Chalk</option>
        <option value="Golden Punch Card">Golden Punch Card</option>
    </select> <br> <br>
    <b>What is the email address of the Diversity&Queer Unit of the AStA?</b><br>
    <input
        type="text"
        name="asta"
    /> <br><br>
    <b>TUM offers you an exchange account, so that you can use your TUM email address. What is the URL to access your emails on the web?</b><br>
    <input
        type="text"
        name="email"
    /> <br><br>
    <b>Which project has the most stars on gitlab.lrz.de?</b><br>
    <select name="gitlab">
        <option value="AM/TUMlatex">AM/TUMlatex</option>
        <option value="TUM Templates/TUM Templates">TUM Templates/TUM Templates</option>
        <option value="IP/elsa">IP/elsa</option>
    </select> <br> <br>
    <b>When was the last confluence server basissystem update of the TUM Wiki?</b><br>
    <select name="confluence">
        <option value="15.05.2020">15.05.2020</option>
        <option value="22.05.2020">22.05.2020</option>
        <option value="29.05.2020">29.05.2020</option>
    </select> <br> <br>
    <b>Team Number</b><br>
    <input
        type="text"
        name="group"
    /> <br> <br>
    <input
        class="btn btn-lg btn-secondary"
        type="submit"
        value="Submit"
    />
</form> <br>
<p style="color: #ff0000;">{{ message }}</p>

{% endblock %}
