<!DOCTYPE html>
<html>
    <head>
        <title>Punkteliste</title>
        <meta charset="utf-8"/>
        <meta name="robots" content="nofollow" />
        <link rel="stylesheet" type="text/css" href="bewertung.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    </head>

    <body>
        {% if bester_name %}
            <p align="center"> Bester Name: {{ bester_name.laufgruppen_id }} -- {{ bester_name.laufgruppen_name }}}</p>
        {% endif %}

        <h3 align="center">Punkteliste</h3>
        {% for gruppe in gruppen %}
            <p align="center">{{ gruppe.laufgruppen_id }}. {{ gruppe.laufgruppen_name }} -- {{ gruppe.total_punkte }}</p>
        {% endfor %}
    </body>
</html>