<!DOCTYPE html>
<html>
    <head>
        <title>Bewertung</title>
        <meta charset="utf-8"/>
        <meta name="robots" content="nofollow" />
        <link rel="stylesheet" type="text/css" href="index.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    </head>

    <body>
        <header class="container">
            <h1 align="center">{{ stand.stand_name }}</h1>
        </header>
        {% if error_message %}
            <p align="center"><strong>{{ error_message }}</strong></p>
        {% endif %}
        <section class="container">
            <div class="row" align="center">
                <form method="POST">
                    {% csrf_token %}
                    Gruppennummer (H, Z, E):
                    <select name="hunderter">
                        {% for hundert in hunderter %}
                            <option value="{{ hundert }}">{{ hundert }}</option>
                        {% endfor %}
                    </select>
                    <select name="zehner">
                        {% for zehn in zehner %}
                            <option value="{{ zehn }}">{{ zehn }}</option>
                        {% endfor %}
                    </select>
                    <select name="einer">
                        {% for ein in einer %}
                            <option value="{{ ein }}">{{ ein }}</option>
                        {% endfor %}
                    </select>
                    <br />
                    <br />
                    Punkte:
                    <select name="punkte">
                        {% for punkt in punkte %}
                            <option value="{{ punkt }}">{{ punkt }}</option>
                        {% endfor %}
                    </select>
                    <br />
                    <br />
                    <input type="submit" value="Abschicken" />
                </form>
            </div>
        </section>
    </body>
</html>