{% extends "ratings/base_administration.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block rallye_common_headercontent %}{% trans "Edit station" %} {{ station }}{% endblock %}

{% block rallye_common_content %}
<form
    method="post"
    action=""
>
    {% csrf_token %}
    {% bootstrap_form form %}

    <a
        class="btn btn-secondary"
        href="{% url "ratings:list_stations" %}"
    >{% trans "Cancel" %}</a>
    <button
        class="btn btn-warning"
        type="submit"
    >{% trans "Edit station" %}</button>
</form>
{% endblock %}
