{% load static %}
<link
    href="{% static "favoticons/signpost-2.svg" %}"
    rel="icon"
    type="image/svg+xml"
>
<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{% static "favoticons/apple-touch-icon.png" %}"
>
<link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{% static "favoticons/favicon-32x32.png" %}"
>
<link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{% static "favoticons/favicon-16x16.png" %}"
>
<link
    rel="manifest"
    href="{% static "favoticons/site.webmanifest" %}"
>
<link
    rel="mask-icon"
    href="{% static "favoticons/safari-pinned-tab.svg" %}"
    color="#000000"
>
<link
    rel="shortcut icon"
    href="{% static "favoticons/favicon.ico" %}"
>
<meta
    name="apple-mobile-web-app-title"
    content="Rallyetool"
>
<meta
    name="application-name"
    content="Rallyetool"
>
<meta
    name="msapplication-TileColor"
    content="#2b5797"
>
<meta
    name="msapplication-config"
    content="{% static "favoticons/browserconfig.xml" %}"
>
<meta
    name="theme-color"
    content="#2f2f2f"
>
