{% extends "base_card_layout.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load active_link_tags %}


{% block rallye_common_navigation %}
<a
    class="nav-link {% active_link "ratings:dashboard" %}"
    href="{% url "ratings:dashboard" %}"
>{% trans "Dashboard" %}</a>
{% if user.station %}
<a
    class="nav-link {% active_link "ratings:view_station-active_link" %}"
    href="{% url "ratings:view_station" user.station.pk %}"
>{% trans "Station" %}</a>
{% endif %}

<h4 class="navbar-text">{% trans "Ratings" %}</h4>
<a
    class="nav-link {% active_link "ratings:list_ratings" %}"
    href="{% url "ratings:list_ratings" %}"
>{% trans "List previous ratings" %}</a>
{% if settings.station_rating_avialible %}
<a
    class="nav-link {% active_link "ratings:add_rating" %}"
    href="{% url "ratings:add_rating" %}"
>{% trans "Add new rating" %}</a>
{% endif %}

<h4 class="navbar-text">{% trans "Rating-Scheme" %}</h4>
<a
    class="nav-link {% active_link "ratings:manage_rating_scheme" %}"
    href="{% url "ratings:manage_rating_scheme" %}"
>{% trans "Manage Rating-Scheme" %}</a>
{% endblock %}
