{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
	<p>Already logged in!</p>
	<a class="btn btn-lg btn-secondary" href="{% url 'rate' %}">Rate</a>
{% else %}
	<form method="POST" action="{% url 'login' %}">
		{% csrf_token %}
		<h5>Username:</h5>
		<input type="text" name="username" /> <br> <br>
		<h5>Password:</h5>
		<input type="password" name="password" /> <br>
		<br >
		<input class="btn btn-lg btn-secondary" type="submit" value="Login" />
	</form>
{% endif %}

{% endblock %}